<%- include('header') -%>
	
	<%- include('top') -%>

	<%- include('menu') -%>
 
	<%- include('sub-menu') -%>

	<div class="bannertitle">
		<div class="left">
			<img src="/assets/img/wap23.png">
			<span>选师无忧</span>
		</div>
		<div class="center">
			<span>|</span>中国实力教育辅导品牌
		</div>
	</div>	
	<a href="" class="bannerbox bannerboxone"><img src="/assets/img/wap29.jpg" class="banner"></a>
	<div class="teachertitle">
		<div class="left">
			<span>|</span>星级老师
		</div>
		<a class="center" href="http://pkt.zoosnet.net/LR/Chatpre.aspx?id=PKT51831902&lng=cn#sem">
			<img src="/assets/img/wap24.png">
			<span>在线咨询</span>
		</a>
		<!--<a href="" class="more"><span>更多</span><img src="/assets/img/wap16.png"></a>-->
	</div>

	<div class="teacher-box">
		<% teachers.map(function (item) { %>
			<a href="<%= item.route %>" class="teacher">
				<table width="100%">
					<tr>
						<th rowspan="2">
							<div class="facebox">
								<img src="<%= item.avatar %>" />
							</div>
						</th>
						<td class="introduce">
							<div class="teacher-name">姓名: <%= item.nick_name %></div><div class="teachingage"><%= item.teaching %>年教龄</div>
						</td>
					</tr>
					<tr>
						<td class="introduce"><%- item.title ? item.title : '&nbsp;' %></td>
					</tr>
				</table>
				<ul class="authentication1">
					<li><img src="/assets/img/wap51.png" /><div>教师认证</div></li>
					<li><img src="/assets/img/wap52.png" /><div>学历认证</div></li>
					<li><img src="/assets/img/wap53.png" /><div>资料认证</div></li>
					<li><img src="/assets/img/wap54.png" /><div>身份认证</div></li>
				</ul>
			</a>
		<%	}) %>
	</div>
<!--
	<div class="allteacherbox">
		<% teachers.map(function (item) { %>
			<a href="<%= item.route %>" class="teacher">
				<table width="100%">
					<tr>
						<th rowspan="2">
							<div class="facebox">
								<img src="<%= item.avatar %>" />
							</div>
						</th>
						<td class="introduce"><%= item.nick_name %>：<%= item.title %></td>
					</tr>
					<tr>
						<td class="teachingage"><%= item.teaching %>年教龄</td>
					</tr>
				</table>
				<ul class="authentication">
					<li><img src="/assets/img/wap25.png" /><span>教师认证</span></li>
					<li><img src="/assets/img/wap26.png" /><span>学历认证</span></li>
					<li><img src="/assets/img/wap27.png" /><span>资料认证</span></li>
					<li><img src="/assets/img/wap28.png" /><span>身份认证</span></li>
				</ul>
			</a>
		<%	}) %>
	</div>
	-->

	<div class="bannerpaddingbox">
		<a href=""><img src="/assets/img/wap30.jpg"></a>
	</div>

	<%- include('public') -%>

<%- include('footer') -%>